<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis asignaturas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Mis asignaturas</h1>
  <br><br>

  <ion-list>
    <ion-item>
      <ion-label>Seccion</ion-label>
      <ion-label>Asignatura</ion-label>
    </ion-item>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{asignatura.nombre }}</ion-label>
      <ion-label>{{asignatura.asignatura }}</ion-label> 
    </ion-item>
  </ion-list>

</ion-content>
