<ion-header [translucent]="true" class="duoc-header">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="outline">
        Salir
        <ion-icon slot="end" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="duoc-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Bienvenido al sistema RegistrAPP</h1>

  <!-- Mostrar el nombre del usuario logueado -->
  <p *ngIf="nombreUsuario">Bienvenido, {{ nombreUsuario }}</p>

  <p>Para acceder a tus asignaturas selecciona la pestaña <a href="/tabs/tab2">"Mis asignaturas"</a>,
    para acceder a tus asistencias selecciona la pestaña <a href="/tabs/tab3">"Asistencia"</a> y para
    acceder al registro de asignaturas selecciona la pestaña <a href="/tabs/tab3">"Asistencia"</a> y desliza para abajo.</p>
</ion-content>
