<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center duoc-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Asistencia</h1>
  <br><br>

<div class="contenedor">
  <ion-accordion-group *ngFor="let asignatura of asignaturas" class="accordion-item ion-item">
    <ion-accordion value="second">
      <ion-item slot="header" color="light" class="ion-text-center">
        <ion-label>{{ asignatura.asignatura }} </ion-label> 
        <ion-label>{{asignatura.presente}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Texto</div>
    </ion-accordion>
  </ion-accordion-group>
</div>
<br>
 
<!-- modal qr -->

  <ion-button shape="round" (click)="abrirPaginaQr()">
    Crear código QR
  </ion-button>

</ion-content>
