.duoc-header {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
  
  .duoc-content {
    --background: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  
  a {
    color: var(--ion-color-link);
  }
  